<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CoalescingStatistics"
              class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
        <!-- The TimeSlice option is used to determine the time window for which
            all received StopWatch logs are aggregated to create a single GroupedTimingStatistics
            log. Here we set it to 10 seconds, overriding the default of 30000 ms -->
        <param name="TimeSlice" value="10000" />
        <appender-ref ref="perfFileAppender" />
    </appender>

    <!-- Loggers -->
    <!-- The Perf4J logger. Note that org.perf4j.TimingLogger is the value of
        the org.perf4j.StopWatch.DEFAULT_LOGGER_NAME constant. Also, note that additivity
        is set to false, which is usually what is desired - this means that timing
        statements will only be sent to this logger and NOT to upstream loggers. -->
    <logger name="org.perf4j.TimingLogger" additivity="false">
        <level value="info" />
        <appender-ref ref="perfFileAppender" />
        <!-- <appender-ref ref="CoalescingStatistics" /> -->
    </logger>

    <logger name="es.ing.psd2.automation">
        <level value="debug" />
    </logger>

    <logger
            name="org.springframework.context.annotation.ConfigurationClassEnhancer">
        <level value="error" />
    </logger>


    <root>
        <priority value="warn" />
    </root>
</log4j:configuration>